*{
    margin:0px;
    padding:0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper{
    width: 970px;
    margin:auto;
}

.red{
    width:200px;
    height:200px;
    margin:auto;
}